<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GeneticAlgorithms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GeneticAlgorithmAction</display-name>
    <servlet-name>GeneticAlgorithmAction</servlet-name>
    <servlet-class>edu.arizona.mis510.ga.GeneticAlgorithmAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneticAlgorithmAction</servlet-name>
    <url-pattern>/showResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GraphActions</display-name>
    <servlet-name>GraphActions</servlet-name>
    <servlet-class>edu.arizona.mis510.ga.GraphActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphActions</servlet-name>
    <url-pattern>/GraphActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FitnessValueGraphServlet</display-name>
    <servlet-name>FitnessValueGraphServlet</servlet-name>
    <servlet-class>edu.arizona.mis510.ga.FitnessValueGraphServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FitnessValueGraphServlet</servlet-name>
    <url-pattern>/fitnessValuesGraph</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrossOversAction</display-name>
    <servlet-name>CrossOversAction</servlet-name>
    <servlet-class>edu.arizona.mis510.ga.CrossOversAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrossOversAction</servlet-name>
    <url-pattern>/crossOverResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MutationResultsAction</display-name>
    <servlet-name>MutationResultsAction</servlet-name>
    <servlet-class>edu.arizona.mis510.ga.MutationResultsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MutationResultsAction</servlet-name>
    <url-pattern>/mutationResults</url-pattern>
  </servlet-mapping>
</web-app>